/*Primefaces css overrides go here*/
/*fondo botones: #0883B4; azul pastel
elemento activo: #fe9225; naranja
hover: #4ab6e1 azul claro 
*/

/*Dialog overrid*/

.ui-dialog{
	border: 0px;
}
.ui-dialog .ui-dialog-titlebar{
	background-color:  #0883B4;
	color: white;
}

/*Panels override*/

.ui-panel-titlebar.ui-widget-header {
	background-color:  #0883B4;
}
.ui-panel-title{
	color: white;
}

.ui-panelgrid-header.ui-widget-header{
	background-color:  #0883B4;
	color: white;
}
.ui-widget-header{
	color: #fe9225;
	background: none;
}

.ui-tabs .ui-tabs-panel{
	padding: 0;	
}

.ui-fieldset {
	margin-bottom: 20px;
}

/*Input overrides*/
.ui-selectonemenu {
	background: none !important;
	
	width: 80% !important;
}

.ui-selectonemenu-label {
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	margin-right: 15px;
	padding: 0px;
	width: 12px;
    padding-left: 4px;
}
 
 
.croquisContainer .ui-selectonemenu-trigger .ui-icon-triangle-1-s {
    margin-left: -3px;
}


.croquisContainer .ui-fileupload-files td {
    display: inline-block;
}
 
/*Data table override*/

.ui-datatable tr.ui-state-highlight{
	background-color: #fe9225;
	color: white;
}
.ui-panelgrid-cell .ui-outputlabel{
	vertical-align: -webkit-baseline-middle;
}

.ui-paginator-first{
	display:none !important;
}
.ui-paginator-prev{
	display:none !important;
}

.ui-paginator-next{
	display:none !important;
}

.ui-paginator-last{
	display:none !important;
}

/*Icon upload*/
.ui-fileupload-choose .ui-icon {
	font-family: FontAwesome;
	background-image: none;
	text-indent: 0px;
	margin-top: -8px;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}
.ui-fileupload-choose .ui-icon::before{
	    content: "\f067";
}

.ui-fileupload-upload .ui-icon{
		font-family: FontAwesome;
	background-image: none;
	text-indent: 0px;
	margin-top: -8px;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}


.ui-fileupload-upload .ui-icon::before{
	    content: "\f093";
}

.ui-fileupload-cancel .ui-icon{
		font-family: FontAwesome;
	background-image: none;
	text-indent: 0px;
	margin-top: -8px;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

.ui-fileupload-cancel .ui-icon::before{
	    content: "\f00d";
}

.ui-fieldset .ui-icon-plusthick::before{
	    content: "\f067";
}

.ui-fieldset .ui-icon-plusthick{
	font-family: FontAwesome;
	background-image: none;
	text-indent: 0px;
	margin-top: 3px;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

.ui-fieldset .ui-icon-minusthick::before{
	    content: "\f068";
}

.ui-fieldset .ui-icon-minusthick{
	font-family: FontAwesome;
	background-image: none;
	text-indent: 0px;
	margin-top: 3px;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}


.ui-icon.ui-icon-triangle-1-e::before{
	    content: "\f067";
}

.ui-icon.ui-icon-triangle-1-e{
	font-family: FontAwesome;
	background-image: none;
	text-indent: 0px;
	margin-top: 3px;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

.ui-icon.ui-icon-triangle-1-s::before{
	    content: "\f068";
}

.ui-icon.ui-icon-triangle-1-s{
	font-family: FontAwesome;
	background-image: none;
	text-indent: 0px;
	margin-top: 3px;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}


.ui-selectonemenu-trigger .ui-icon-triangle-1-s::before{
	    content: "\f0d7";
}


.ui-selectonemenu-trigger .ui-icon-triangle-1-s {
	margin: 3px auto;
	font-family: FontAwesome;
	background-image: none;
	text-indent: 0px;
/* 	margin-top: 3px; */
	font-size: 11px;
	-webkit-font-smoothing: antialiased;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

.ui-button.ui-state-disabled{
	background-color: grey;
	opacity: 1;
	color: #d7d7d7;
}
