/*color: #2A6496;*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	margin:0px;
}
/* General layout*/
header, footer, section, article {
	width: 100%;
	background-color: white;
}

header a {
	color: #428BCA;
	text-decoration: none;
}

.ui-carousel .ui-carousel-header{
	height: 18px !important;
}

header a:HOVER {
	color: #428BCA;
	text-decoration: none;
}

section {
	background-color: transparent;
	font-size: 1.1em;
	min-height: 600px;
}

header, footer {
	color: white;
	margin-bottom: 5px;
}

nav {
	margin: 0 auto;
	min-width: 1240px;
	width: 80%;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	margin: 5px;
}

/* Section header */
.section-header {
	font-size: x-large !important;
	font-weight: bold;
	display: block;
	margin: 10px 0 10px 0;
}

.sheader_col1 {
	
}

.sheader_col2 {
	
}

.ui-selectonemenu {
	background: none !important;
	width: 70% !important;
}

.ui-selectonemenu-label {
	width: 100% !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	margin-right: -12px;
	padding: 0px;
	background: #1484e6
		url("/javax.faces.resource/images/ui-bg_diagonals-thick_22_1484e6_40x40.png.xhtml?ln=primefaces-excite-bike")
		50% 50% repeat;
}

/* Top menu */
.main_menu {
	border: 0px;
	float: left;
}

.main_menu .ui-menu .ui-menu-list .ui-menuitem {
	border: 0px;
	font-size: 15px !important;
	/* 	width:40px !important; */
	/* 	height: 20px !important; */
}

.faIcon {
	width: 30px !important;
	font-size: 26px !important;
}

.faLink {
	font-size:24px;
	background: #1484E6
		url("/javax.faces.resource/images/ui-bg_diagonals-thick_22_1484e6_40x40.png.xhtml?ln=primefaces-excite-bike")
		repeat scroll 50% 50%;
	color: #FFF;
}

.navIcon {
	border: 1px solid #FFFFFF;
	background: #FFFFFF;
	color: #000000;
	width: 40px !important;
	font-size: 33px;
	margin-top: -15px !important;
	height: 33px;
}

.navIcon .fa {
	margin-left: 5px;
}

/* Images */
.image-center {
	text-align: center;
}

#heading {
	padding: 20px;
	height: 30px;
	margin-bottom: 10px;
	background: #dddddd;
	border: 1px solid darkGray;
}

#footer {
	clear: both;
	padding: 5px;
	height: 15px;
	background: #dddddd;
	border: 1px solid darkGray;
}

#sidebarLeft {
	border: thin solid lightGray;
	padding: 5px;
	float: left;
	width: 17%;
	background: #eeeeee;
	margin-bottom: 10px;
}

#sidebarLeft a {
	margin-bottom: 10px;
	display: block;
}

#content {
	padding: 5px;
	border: thin solid lightGray;
	background-color: LightBlue;
	float: right;
	width: 80%;
	margin-bottom: 10px;
}

.header {
	font-size: 1.4em;
	font-style: italic;
	font-family: Palatino;
	text-align: center;
}

a {
	color: DarkGray;
	font-size: small;
}

a:hover {
	color: LightBlue;
}

.ui-widget-content {
	background: none;
	background-color: white;
}

.ui-widget-content-borderless {
	border: 0px;
}

.no-border {
	border: 0px;
}

.no-border tr, no-border td {
	border: 0px;
}

.no-border .ui-grid {
	border: 0px !important;
}

.ui-widget-overlay {
	background: grey;
}

.ui-widget-content-border {
	border: 1px #aaaaaa;
}

.ui-widget-content-borderless  tr, .ui-widget-content-borderless td {
	border: 0px;
	width: 27%;
	text-align: left;
}

.ui-datatable-odd {
	background: none repeat scroll 0 0 #F2F5F9;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield
	{
	box-shadow: none !important;
}

.ui-datatable tr.ui-state-highlight {
	font-weight: bold;
	background: none;
	border: 1px gray solid;
}

.ui-inputfield {
	border: 2px solid #dadada !important;
	border-radius: 7px !important;
}

.ui-inputfield:focus {
	outline: none !important;
	border-color: #7bc1f7 !important;
	box-shadow: 0 0 10px #7bc1f7 !important;
}

.ui-accordion .ui-accordion-content {
	padding: 0;
}

.ui-panel {
	border: none;
}

.ui-panelgrid .ui-panelgrid-cell {
	border-style: none !important;
}

.mp-column-center {
	width: 30%;
	text-align: center;
	margin-left: 50%;
}

.location-view-table  tr, .location-view-table td {
	border: none;
	width: 440px;
	text-align: left;
}

.location-view-picture {
	text-align: center;
	margin-left: 50%;
}

.location-view-map {
	text-align: center;
	margin-left: 50%;
}

.locationTagsItem .ui-chkbox-box {
	margin-right: 6px;
}

.locationTagsItem label {
	margin-right: 20px;
}

.ui-selectmanycheckbox.ui-widget td {
	margin-right: 15px;
}

.ui-carousel .ui-carousel-header {
	height: 30px;
}

/*Location view */
.location-sector-info {
	width: 200px;
	height: 200px;
	text-align: center;
}

.location-sectors-left {
	padding: 5px;
	margin-right: 38px;
	float: left;
	width: 300px;
	margin-bottom: 10px;
	display: block;
}

.croquis-content {
	display: block;
}
.ui-notificationbar{
	opacity: 0.9;
}
.linebreak {
	white-space: pre-wrap;
}

.main_title {
  	margin-top: -15px;
	font-weight: bold;
	text-align: center;
	height: 40px;
	font-size: xx-large;
	min-height: 100%;
}

.main_title .ui-panel-content :HOVER{
	color: #000000 !important;
	cursor: default;
}

.main_title .ui-panel-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.main_title .text{
	color: #aaa ;
}

.main_title .text :HOVER{
	color: #000000 !important;
}