/**
CSS file for mobile devices
*/

@media ( max-device-width : 480px) {
	html {
		font-size: 62.5%;
	}
	header, footer, section, article {
		-webkit-text-size-adjust: none;
		font-family: Helvetica, Arial, Verdana, sans-serif;
		width: 99%;
		margin: 0 auto;
		background-color: white;
		font-weight: 400;
	}
	header {
		margin-bottom: 0px;
		font-size: 0;
		padding: 8px;
	}

}
